.footer__list-item {
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    padding: 0;
    margin: 0;
    transition: ease-in-out .4s opacity;
}

.footer__list-item:hover {
    opacity: .4;
    cursor: pointer;
}